:root {
  --color-primary: #2563eb;
  --color-accent: #475569;
  --color-secondary: #334155;
  --color-success: #15803d;
  --color-warn: #92400e;
  --color-danger: #991b1b;
  --color-error: #991b1b;
  --logo-url: url('');
}
