fastapi
uvicorn[standard]
alembic
sqlalchemy
psycopg2-binary
requests

argon2-cffi
python-jose[cryptography]
pydantic-settings
python-dotenv
openpyxl
python-multipart
qrcode
responses
httpx
redis
fakeredis
redis

